<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="metrotaxi.project.in.metrotaxi">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.TripActivity"
            android:label="@string/title_activity_trip"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".fcm.MyInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.OffersActivity"
            android:label="@string/title_activity_offers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TripHistoryActivity"
            android:label="@string/title_activity_trip__history_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DriverRegisterActivity"
            android:label="@string/title_activity_driver_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DriverTripHistoryActivity"
            android:label="@string/title_activity_driver_trip_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DriverAlertActivity"
            android:label="Trip Request"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UserRechargeActivity"
            android:label="@string/title_activity_user_recharge"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UserRequestStatusActivity"
            android:label="@string/title_activity_user_request_status"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.LocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.DriverSettingsActivity"
            android:label="@string/title_activity_driver_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.UserTripEndActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
    </application>

</manifest>